<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
	.btn-danger{
		background-color: #ffae19;
		border-color: #e59400;
	}
</style>
</head>
<body style='font-family: "Satisfy", cursive;background-color: #f6666'>
	<p><b>Title:</b> {{form.title}}</p>
	<p><b>Description:</b> {{form.description}}</p>
	<p><b>Author:</b> {{form.author}}</p>
	<p><b>Date: </b>{{form.date}}</p>
    
    <form action="{% url 'delete' form.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Delete Blog">
    </form>
<br>
    <form action="{% url 'update' form.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Update Blog">
    </form>

	</body>
	
</html>